<div class="container">
    <div class="row">
      <div class="col">
        <h2>CRUD Application</h2>
        <h5>Application for Heroes and Villains</h5>
        <p>Go to Hero or Villain page to see available character or either add new one. Data is stored inside database so
          records wont be deleted after turning off the app</p>
    </div>
    <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
      <div class="col-md-12">
          <h2>Go to Heroes</h2>
          <button class="btn btn-primary" (click)="heroPage()">Heroes</button>
        </div>
        <div class="col-md-12">
          <h2>Go to Villains</h2>
          <button class="btn btn-primary" (click)="villainPage()">Villains</button>
      </div>
      </div>
  </div>
    </div>
  </div>
  