<div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <h3> Get Heroes</h3>
        <button class="btn btn-primary" (click)="getHeroes()">Get</button>
        <hr>
        <app-hero-form-group type="get" title="Get Hero By ID" buttonText="Get" (heroChange)="getHeroByID($event)"></app-hero-form-group>
        <div class="col-md-12">
          <div *ngFor="let heroItem of heroes">
            <div class="container-fluid">
              <h3>Name: {{heroItem.name}}</h3>
              <h5>Power: {{heroItem.power}}</h5>
              <button class="btn btn-primary" routerLink={{heroItem.name}}>Details</button>
              <hr>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <h3>{{hero.name}}</h3> <br>
          <h5>{{numToString}}</h5>
        </div>
      </div>

      <div class="col-md-3">
  <app-hero-form-group type="post" title="Add Hero" buttonText="Add" [flag]="flag" (heroChange)="postHero($event)"></app-hero-form-group>   
      </div>

      <div class="col-md-3">
      <app-hero-form-group type="put" title="Update Hero" buttonText="Update" (heroChange)="putHero($event)"></app-hero-form-group>  
      </div>
      
      <div class="col-md-3">
        <app-hero-form-group type="delete" title="Delete Hero" buttonText="Delete" (heroChange)="deleteHero($event)"></app-hero-form-group>      
      </div>
    </div>
  </div>
  
  