<div class="container-fluid">
  <div class="row">
    <div *ngFor="let villain of villains">
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="50px" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
              dy=".3em"></text>
          </svg>
          <div class="card-body">
            <h3>{{villain.name}}</h3>
            <p>{{villain.power}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  (click)="deleteVillain(villain.id)">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">See
                  details</button>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>

  <section id="control">
    <div class="row">
      <div class="col-md-3">
        <app-villain-form-group type="get" title="Get Villain By ID" buttonText="Get"
          (villainChange)="getVillainByID($event)"></app-villain-form-group>
        </div>
      <div class="col-md-3">
        <app-villain-form-group type="post" title="Add Villain" buttonText="Add" (villainChange)="postVillain($event)">
        </app-villain-form-group>
      </div>
      <div class="col-md-3">
        <app-villain-form-group type="put" title="Update Villain" buttonText="Update"
          (villainChange)="putVillain($event)">
        </app-villain-form-group>
      </div>
      <div class="col-md-3">
        <app-villain-form-group type="delete" title="Delete Villain" buttonText="Delete"
          (villainChange)="deleteVillain($event)"></app-villain-form-group>
      </div>
    </div>
  </section>
</div>